In [1]:
import pandas as pd

## GPS Data

In [12]:
gps_data = pd.read_csv('data/CFC GPS Data (1).csv', encoding='ISO-8859-1')

In [13]:
gps_data.head()

,date,opposition_code,opposition_full,md_plus_code,md_minus_code,season,distance,distance_over_21,distance_over_24,distance_over_27,accel_decel_over_2_5,accel_decel_over_3_5,accel_decel_over_4_5,day_duration,peak_speed,hr_zone_1_hms,hr_zone_2_hms,hr_zone_3_hms,hr_zone_4_hms,hr_zone_5_hms
0,02/08/2022,NaN,NaN,10,-4,2022/2023,4524.085076,89.278530,85.690318,61.634335,119.108101,32.636928,8.557443,76.242369,30.75590,00:03:40,00:17:29,00:19:20,00:11:23,00:00:02
1,03/08/2022,NaN,NaN,10,-3,2022/2023,5264.645855,245.861691,91.348143,20.210588,45.974019,6.309730,3.095990,65.217830,28.67495,00:06:44,00:16:40,00:15:35,00:06:08,00:00:01
2,04/08/2022,NaN,NaN,10,-2,2022/2023,6886.542272,199.180260,84.634735,22.585470,97.488512,24.400180,3.825869,105.139759,29.21720,00:17:29,00:37:09,00:23:49,00:06:30,00:00:02
3,05/08/2022,NaN,NaN,10,-1,2022/2023,2622.552016,68.389321,11.795402,6.360193,43.750265,14.642925,2.189602,64.588434,28.70300,00:07:34,00:15:51,00:07:31,00:01:51,00:00:00
4,06/08/2022,EVE,Everton,0,0,2022/2023,5654.028319,447.090545,164.576671,82.746430,122.568127,49.748446,22.201737,46.048353,30.29812,00:01:09,00:01:04,00:11:34,00:13:15,00:02:30

In [16]:
gps_data.tail()

,date,opposition_code,opposition_full,md_plus_code,md_minus_code,season,distance,distance_over_21,distance_over_24,distance_over_27,accel_decel_over_2_5,accel_decel_over_3_5,accel_decel_over_4_5,day_duration,peak_speed,hr_zone_1_hms,hr_zone_2_hms,hr_zone_3_hms,hr_zone_4_hms,hr_zone_5_hms
857,07/04/2025,NaN,NaN,1,-5,2024/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
858,08/04/2025,NaN,NaN,2,-4,2024/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
859,09/04/2025,NaN,NaN,3,-3,2024/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
860,10/04/2025,NaN,NaN,4,-2,2024/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
861,11/04/2025,NaN,NaN,5,-1,2024/2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00

## Recovery Status Data

In [9]:
recovery_status_data = pd.read_csv('data/CFC Recovery status Data (1).csv')

In [10]:
recovery_status_data.head()

,sessionDate,seasonName,metric,category,value
0,02/07/2023,2023/2024,bio_baseline_completeness,bio,0.0
1,02/07/2023,2023/2024,bio_baseline_composite,bio,NaN
2,02/07/2023,2023/2024,emboss_baseline_score,total,NaN
3,02/07/2023,2023/2024,msk_joint_range_baseline_completeness,msk_joint_range,0.0
4,02/07/2023,2023/2024,msk_joint_range_baseline_composite,msk_joint_range,NaN

In [14]:
recovery_status_data.tail()

,sessionDate,seasonName,metric,category,value
8068,13/03/2025,2024/2025,sleep_baseline_composite,sleep,-0.232500
8069,13/03/2025,2024/2025,soreness_baseline_completeness,soreness,0.000000
8070,13/03/2025,2024/2025,soreness_baseline_composite,soreness,NaN
8071,13/03/2025,2024/2025,subjective_baseline_completeness,subjective,0.129032
8072,13/03/2025,2024/2025,subjective_baseline_composite,subjective,-0.081667

## Physical Capability Data

In [7]:
physical_capability_data = pd.read_csv('data/CFC Physical Capability Data_ (1).csv')

In [8]:
physical_capability_data.head()

     testDate expression    movement       quality  benchmarkPct
0  03/07/2023  isometric  upper body          pull           NaN
1  04/07/2023    dynamic     agility  acceleration        0.3200
2  10/07/2023    dynamic     agility  deceleration        0.8670
3  18/07/2023  isometric        jump      take off           NaN
4  20/07/2023    dynamic  upper body          pull        0.8525

In [15]:
physical_capability_data.tail()

         testDate expression    movement   quality  benchmarkPct
12395  17/02/2025  isometric        jump  pre-load        0.7870
12396  24/02/2025  isometric        jump  pre-load        0.7900
12397  25/02/2025  isometric        jump  take off        0.3955
12398  27/02/2025  isometric  upper body      pull        0.8540
12399  09/03/2025    dynamic        jump  take off        0.6800